h1{
    text-align: center;
}
table{
    border-collapse: collapse;
    border: 5px soild gray;
    margin: auto;
}
th{
    
    margin: 0px;
    background-color: gray;
    text-align: center;
    width: 100px;
    height: 10px;
}
td{
    text-align: start;
    width: 100px;
    height: 30px;
}
button{
    margin-left: 450px;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: blue;
    border-color: white;

}
p{
    text-align: center;
}